@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition-duration: 150ms;
}

.button {
  @apply rounded-xl bg-grey text-center font-semibold text-black p-2 hover:border hover:border-white hover:bg-black hover:text-white
}

.select {
  @apply bg-grey rounded-xl text-black font-semibold
}

.option {
  @apply hover:bg-black hover:text-white
}
